@model IEnumerable<PMS_Inventory_huan.Models.PurchaseOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(ViewBag.failMessage)
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <h2>@PMS_Inventory_huan.Resources.AppResource.ShipNotice</h2>
    <!-- Topbar Search -->
    @using (Html.BeginForm("Index", "ShipNotices", FormMethod.Get, new { @class = "d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" }))
    {
        <div class="input-group">
            <input name="PurchaseOrderID" id="idSearh" type="text" class="form-control bg-light border-0 small" placeholder=@PMS_Inventory_huan.Resources.AppResource.PurchaseOrderID aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
        <div class="input-group">
            <input name="PurchaseOrderStatus" id="idSearh2" type="text" class="form-control bg-light border-0 small" placeholder=@PMS_Inventory_huan.Resources.AppResource.status . aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    }

    <div id="idStatus" class="col-sm-2">
        @Html.DropDownList("selectlist", new SelectList(new[]
        {
        new SelectListItem { Text = "未答交",Value="P",Selected=false },
        new SelectListItem { Text = "已答交", Value = "E",Selected=true },
        new SelectListItem { Text = "已出貨", Value = "S",Selected=false }
        }, "Value", "Text"),
        new { id = "idStatus", @class = "form-control" }
        )
    </div>
</nav>

@*<nav>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@PMS_Inventory_huan.Resources.AppResource.ShipNotice</h6>
        </div>
        <div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableP" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PurchaseOrderStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PurchaseOrderID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReceiverName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ReceiverTel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReceiverMobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReceiptAddress)
                            </th>
                            <th>
                                @PMS_Inventory_huan.Resources.AppResource.Edit
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.PurchaseOrderStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.PurchaseOrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ReceiverName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.ReceiverTel)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ReceiverMobile)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.ReceiptAddress)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action( "Edit", new { id = item.PurchaseOrderID })"><i class="fa fa-edit">@PMS_Inventory_huan.Resources.AppResource.Ship</i></a>|
                                <a class="btn btn-info" href="@Url.Action("Details", new { id = item.PurchaseOrderID })"><i class="fa fa-tasks">@PMS_Inventory_huan.Resources.AppResource.Details</i></a>
                                @Html.ActionLink(PMS_Inventory_huan.Resources.AppResource.Ship, "Edit", new { id = item.PurchaseOrderID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink(PMS_Inventory_huan.Resources.AppResource.Details, "Details", new { id = item.PurchaseOrderID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink(PMS_Inventory_huan.Resources.AppResource.Delete, "Delete", new { id = item.PurchaseOrderID })
                                </td>
                                </tr>
                                }

                                </table>
                                </div>
                                </div>
                                </div>
                                </nav>*@
@*dropdownlist取得值得方法*@
@*http://kevintsengtw.blogspot.com/2011/09/jquery-dropdownlist-1.html*@

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        採購單
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTableP" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>採購單狀態</th>
                        <th>採購單編號</th>
                        <th>收貨人名稱</th>
                        <th>收貨人電話</th>
                        <th>收貨人手機</th>
                        <th>收貨人地址</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>採購單狀態</th>
                        <th>採購單編號</th>
                        <th>收貨人名稱</th>
                        <th>收貨人電話</th>
                        <th>收貨人手機</th>
                        <th>收貨人地址</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted"></div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            shipDatatable();
            $("#idStatus").change(function () {
                shipDatatable();
            });
        });





        function shipDatatable() {
            if ($.fn.dataTable.isDataTable("#dataTableP")) {
                $("#dataTableP").DataTable().destroy();
            }
             $("#dataTableP").DataTable({
                    "ajax": {
                      "url": "@Url.Action("GetPurchaseOrderList","ShipNotices")",
                    "type" : "get",
                "dataType" :"json",
                     "data": { "PurchaseOrderStatus": $('#idStatus option:selected').val() },
              "contentType": "application/json;charset=utf-8",
                              },
                "columns": [
                    { "data": "PurchaseOrderStatus" },
                    {"data" : "PurchaseOrderID" },
                    { "data": "ReceiverName" },
                    { "data": "ReceiverTel" },
                    { "data": "ReceiverMobile" },
                    { "data": "ReceiptAddress" },
                    {
                        "data": "PurchaseOrderID",
                        "render": function (data, type, row) {
                            return "<a class=" + "btn btn-info" + "href=" + "@Url.Action("Details", "ShipNotices")" + "?id" + data + "><i class='fa fa-tasks'>Details</i></a>";
                        }
                    }
                ],
                "order": [[1,"desc"]],
            });
        }

        function shipmentStatus() {
            $.ajax({
                url: "@Url.Action("Index","ShipNotices")",
                type: "POST",
                data: { "PurchaseOrderStatus": $('#idStatus option:selected').val() },
            }).done(function () {
                Swal.fire( '搜尋成功','以下為查詢結果','success')
            }).fail(function () {
                Swal.fire({
                       type: 'error',
                       title: '查詢失敗',
                       text: '查無訂單資料',
                         })
            })
        }
    </script>

}