@model PMS_Inventory_huan.Models.SupplierShipment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SupplierShipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierShipmentOID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierShipmentOID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateEmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateEmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedEmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedEmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
